html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 10px 0px 30px 0px;
}
section.first {
    padding-top: 80px;
}
section.reversi {
    background: #dfedf0;
    border-top: 2px solid #d8e5e8;
    border-bottom: 2px solid #d8e5e8;
}
.container {
    padding: 20px;
}
.glow {
    text-shadow: 0px 0px 10px #ffffff;
}
.center {
    text-align: center;
}
.j-blue {
    color: #0ea7e3;
}
p {
    line-height: 1.5em;
}
h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #e4eef2;
    padding-bottom: 10px;
}
.hero h1 {
    color: white;
    max-width: 600px;
    padding: 50px 0px;
    margin: 0 auto;
    border: 0;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
h3 {
    font-size: 1.3em;
    text-align: center;
}
h4 {
    font-size: 1.2em;
    font-weight: 500;
}
.hero {
    background: url('../images/hero-stars.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.brief {
    display: flex;
    flex-wrap: wrap;
}
.icon {
    max-width: 80px;
    padding-bottom: 30px;
}
.hero .button {
    padding: 15px 20px;
    border: 2px solid white;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    color: white !important;
}
.hero .button:hover {
    background: rgba(235,246,250,0.3);
}
.button {
    padding: 15px 20px;
    border: 2px solid black;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
}
a.button, a.button:visited {
    color: black;
    text-decoration: none;
}
.lead {
    font-size: 1.1em;
}
.flex-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.flex-center {
    align-items: center;
}
.flex-contain .point-of-contact {
    padding: 15px;
}
.point-of-contact h4 {
    text-align: center;
}
.point-of-contact h4 a {
    color: black;
    text-decoration: none;
}
.flex-contain .project {
    position: relative;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
    max-width: 350px;
    min-height: 200px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
.project .description {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    padding: 10px 10px 0px 10px;
    margin: 0;
    background: linear-gradient(rgba(255,255,255,0), white);
    border-radius: 5px;
}
.project .project-link {
    display: block !important;
    height: 100% !important;
    width: 100%;
}
.description h3 {
    color: black;
    margin: 10px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}
.description p {
    color: black;
    margin: 10px 0px;
    font-weight: 500;
    font-size: 0.9em;
}
.flex-contain .snapshot, .flex-contain .smallsnap {
    padding: 20px;
    text-align: center;
}
.flex-contain .snapshot img {
    max-width: 100%;
}
.flex-contain .snapshot .detail {
    border: 1px solid #c5d3d6;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex-contain .snapshot p {
    text-align: center;
    padding-top: 5px;
}
.profile .pic img {
    border-radius: 500px;
    max-width: 250px;
    border: 4px solid #dfedf0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* NAVIGATION */

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background: rgba(235,246,250,0.9);
    border-bottom: 2px solid #e4eef2;
    z-index: 100;
}
.nav-contain {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding: 15px 10px 10px 10px;
}
.nav-contain .logo a img {
    max-width: 80%;
    max-height: 35px;
}
.nav-contain .logo {
    flex-basis: 95%;
    flex-shrink: 1;
}
.nav-contain .bars {
    margin-right: 5px;
}
.bars svg {
    opacity: 0.4;
}

/* FORM */

form {
    text-align: center;
}
form label {
    font-weight: 500;
    font-size: 1.1em;
    display: block;
    padding: 5px;
}
form input {
    font-family: monospace;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
.honeypot {
    position: absolute;
    left: -5000px;
}

/* FOOTER */

.footer {
    background: #333;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 2px solid #222;
}
.footer a, .footer a:visited {
    color: white;
    text-decoration: none;
    padding: 3px;
}
.footer a:hover {
    border-bottom: 2px solid #0ea7e3;
}
.footer p {
    color: grey;
    text-align: center;
}
.footer hr {
    margin-top: 30px;
    border-color: grey;
}
.footer .logo {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.footer .logo img {
    max-width: 200px;
}

/* PROJECT BACKGROUNDS */

.project {
    background-size: cover;
    background-position: center;
}
#site-webhostingpad {
    background-image: url('../images/projects/site-whp-wordpress.png');
}
#site-vpsdepot {
    background-image: url('../images/projects/site-vpsd-index.png');
}
#site-hostmetro {
    background-image: url('../images/projects/site-hm-index.png');
}
#logo-vpsdepot {
    background-image: url('../images/projects/logo-vpsd-main.png');
}
#logo-webhostingpad {
    background-image: url('../images/projects/logo-whp-main.png');
}
#logo-youngrentals {
    background-image: url('../images/projects/logo-yr-main.png');
}
#ads-webhostingpad {
    background-image: url('../images/projects/ads-whp-buildyourbrand.png');
}
#ads-hostmetro {
    background-image: url('../images/projects/ads-hm-various.png');
}
#print-wisconnect {
    background-image: url('../images/projects/print-wisconnect.png');
}
#print-delaunay {
    background-image: url('../images/projects/print-delaunay.png');
}
#package-humming {
    background-image: url('../images/projects/package-humming.png');
}
#package-pop {
    background-image: url('../images/projects/package-pop.png');
}

/* BREAKPOINTS */

@media all and (min-width: 0px) {
    .flex-contain .project {
        flex-basis: 90%;
        flex-grow: 1;
    }
    .flex-contain .point-of-contact {
        flex-basis: 90%;
        flex-grow: 1;
    }
    .flex-contain .snapshot {
        flex-basis: 90%;
        flex-grow: 1;
    }
    .profile {
        flex-basis: 90%;
        flex-grow: 1;
    }
    .nav-contain .links {
        display: none;
        position: absolute;
        background: rgba(235,246,250,0.9);
        top: 62px;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        border-bottom: 2px solid #e4eef2;
    }
    .nav-contain .links a {
        display: inline-block;
        padding: 3px 0px;
        margin: 12px 10px;
        color: black;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    .nav-contain .links a:visited {
        color: black;
        text-decoration: none;
    }
    .nav-contain .links a:hover {
        border-bottom: 2px solid #0ea7e3;
    }
    .footer .flex-contain div {
        text-align: center;
        flex-basis: 100%;
        flex-grow: 1;
        padding: 15px 0px;
    }
    .brief .label {
        text-align: center;
        flex-basis: 90%;
        flex-grow: 1;
        padding: 10px 0 0 0;
        font-weight: 600;
    }
    .brief .info {
        text-align: center;
        flex-basis: 90%;
        flex-grow: 1;
        padding: 5px;
    }
    .hero .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (min-width: 650px) {
    section {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .hero {
        height: 80vh !important;
    }
    .hero .container {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: none;
    }
    .flex-contain .project {
        flex-basis: 40%;
        flex-grow: 1;
    }
    .flex-contain .point-of-contact {
        flex-basis: 40%;
        flex-grow: 1;
    }
    .profile {
        align-items: center;
    }
    .profile .pic img {
        width: 100%;
    }
    .profile .pic {
        flex-basis: 30%;
        flex-grow: 0;
        padding-right: 10px;
        margin: 0 auto;
    }
    .profile .about {
        flex-basis: 60%;
        flex-grow: 1;
        padding-left: 20px;
    }
    .nav-contain .bars {
        display: none;
    }
    .nav-contain .links {
        position: relative;
        top: 0px;
        display: inline-block;
        text-align: right;
        border: 0;
        background: none;
    }
    .nav-contain .links a {
        margin-top: 5px;
    }
    .footer .flex-contain div {
        flex-basis: 22%;
        flex-grow: 1;
    }
    .brief {
        max-width: 450px;
        margin: 0 auto;
    }
    .brief .label {
        text-align: right;
        flex-basis: 20%;
        flex-grow: 1;
        padding: 5px 20px 5px 0;
        font-weight: 600;
    }
    .brief .info {
        text-align: left;
        flex-basis: 70%;
        flex-grow: 1;
        padding: 5px 0px;
    }
}
@media all and (min-width: 800px) {
    .nav-contain {
        max-width: 800px;
        margin: 0 auto;
    }
    .flex-contain .project {
        flex-basis: 30%;
        flex-grow: 1;
    }
    .flex-contain .snapshot {
        flex-basis: 40%;
    }
    .flex-contain .smallsnap {
        flex-basis: 30%;
    }
    .flex-contain .highlight {
        flex-basis: 90%;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .tagline {
        text-align: center;
    }
    .footer .flex-contain div {
        flex-basis: 18%;
        flex-grow: 1;
    }
    .hero .container h1 {
        font-size: 2.4em;
    }
    .smallsnap img {
        max-height: 300px;
    }
}
















